<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Apartment Details</title>
</head>
<body>
{{> /common/_navigation }}
<h1>Apartment Details</h1>
<h2>Only ${{ apartment.rent }}</h2>
{{#owner}}
{{^apartment.isActive}}
<form method="post" action="/apartments/{{ apartment.id }}/activations">
<button>Acivate listing</button>
</form>
{{/apartment.isActive}}
{{#apartment.isActive}}
<form method="post" action="/apartments/{{ apartment.id }}/deactivations">
<button>Deacivate listing</button>
</form>
{{/apartment.isActive}}
<h3>People Who Like This Apartment:</h3>
{{#list}}
	<div>{{lastName}}, {{firstName}}</div>
{{/list}}
{{/owner}}
{{#currentUser}}
{{^owner}}
{{^list}}
<form method="post" action="/apartments/{{ apartment.id }}/like">
<button>Like this apartment</button>
</form>
{{/list}}
{{/owner}}
{{/currentUser}}
{{#noUser}}
<a href="/login?returnPath=/apartments/{{ apartment.id }}">Login to LIKE this apartment</a>
{{/noUser}}
<p>
	{{ apartment.address }}<br>
	{{ apartment.city }}, {{ apartment.state }} {{ apartment.zipCode }}
<dl>
	<dt>Number of Bedrooms</dt>
	<dd>{{ apartment.numberOfBedrooms }}</dd>
	<dt>Number of Bathrooms</dt>
	<dd>{{ apartment.numberOfBathrooms }}</dd>
	<dt>Square Footage</dt>
	<dd>{{ apartment.squareFootage }}</dd>
</dl>

</body>
</html>