<h2>Address:</h2>
<div>{{ apartment.address }}</div>
<div>{{ apartment.city }}, {{ apartment.state }} {{ apartment.zip_code }}</div>
<ul>
  <li><b>Rent:</b> {{ apartment.rent | currency }}</li>
  <li><b>Square Footage:</b> {{ apartment.square_footage }}</li>
  <li><b>Number of Bedrooms:</b> {{ apartment.number_of_bedrooms }}</li>
  <li><b>Number of Bathrooms:</b> {{ apartment.number_of_bathrooms }}</li>
</ul>
<form (submit)="activateApartment()">
    <button *ngIf="!apartment.is_active">Activate</button>
</form>
<form (submit)="deactivateApartment()">
    <button *ngIf="apartment.is_active">Deactivate</button>
</form>
<form (submit)="likeApartment()">
    <button>Like</button>
</form>
